<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="go.navigate(['/home'],'back')">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      TESTE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding">

    <ion-list *ngIf="testes$ | async as testes;">
      <ion-item *ngFor="let teste of testes" (click)="go.navigate(['/home/teste/',teste._id])">
        <ion-label>Nome: {{teste.nome}}</ion-label>
        <ion-icon slot="start" name="clipboard"></ion-icon>
      </ion-item>
    </ion-list>

  </div>

</ion-content>